.singleProject{
  padding-top: 20px;
  padding-bottom: 60px;
  .container{
    position: relative;
  }
  &-breadcrumb{
    @include caption-text;
    position: absolute;
    top: -20px;
    left: 15px;
    color: map-get($colors, secondary-light);
    a{
      text-decoration: none;
      color: map-get($colors, secondary-light);
      transition: 0.2s ease-in-out;
      &:hover, &:focus{
        outline: none;
        color: map-get($colors, accent-dark);
      }
    }
    span{
      color: map-get($colors, accent);
    }
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left{
    flex-basis: 540px;
    margin-right: 50px;
    max-width: 100%;
  }
  &-heading{
    color: map-get($colors, accent-dark);
    padding-bottom: 24px;
  }
  &-description{
    @include p2;
    p{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-thumbnail{
    width: 570px;
    height: 366px;
    position: relative;
    img{
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      //mask: url("data:image/svg+xml,%3Csvg width='570' height='366' viewBox='0 0 570 366' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M460.5 0C428.191 0 402 26.1914 402 58.5C402 90.8086 428.191 117 460.5 117C492.809 117 519 90.8086 519 58.5C519 26.1914 492.809 0 460.5 0ZM291.6 9.7998C230.849 9.7998 181.6 59.0486 181.6 119.8C181.6 180.551 230.849 229.8 291.6 229.8C352.352 229.8 401.6 180.551 401.6 119.8C401.6 59.0486 352.352 9.7998 291.6 9.7998ZM88 78.7332C39.3989 78.7332 0 118.132 0 166.733C0 215.334 39.3989 254.733 88 254.733C136.601 254.733 176 215.334 176 166.733C176 118.132 136.601 78.7332 88 78.7332ZM199 220C158.683 220 126 252.683 126 293C126 333.317 158.683 366 199 366C239.317 366 272 333.317 272 293C272 252.683 239.317 220 199 220ZM283.267 292.6C283.267 260.199 309.533 233.933 341.934 233.933C374.334 233.933 400.6 260.199 400.6 292.6C400.6 325 374.334 351.266 341.934 351.266C309.533 351.266 283.267 325 283.267 292.6ZM394 213.8C394 165.199 433.399 125.8 482 125.8C530.601 125.8 570 165.199 570 213.8C570 262.401 530.601 301.8 482 301.8C433.399 301.8 394 262.401 394 213.8Z' fill='%23C4C4C4'/%3E%3C/svg%3E") top left / contain no-repeat;
      mask: url("data:image/svg+xml,%3Csvg width='472' height='402' viewBox='0 0 472 402' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M440.259 45.5451C364.133 -58.9184 273.328 50.163 148.864 41.9348C111.727 39.4797 72.5766 43.3415 43.4412 66.5009C-28.3669 123.58 -6.37292 266.66 74.3712 310.19C143.033 347.206 213.737 384.045 280.094 399.016C352.505 415.353 417.791 354.195 443.435 284.534C470.751 210.329 491.444 115.783 440.259 45.5451Z' fill='%23D4FFCD'/%3E%3C/svg%3E%0A") center right / contain no-repeat;
    }
  }
  &-circles{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    user-select: none;
  }
  &-circle{
    border-radius: 50%;
    position: absolute;
    background-color: map-get($colors, secondary-extraLight);
    &:nth-child(5){
      width: 13px;
      height: 13px;
      bottom: 66px;
      right: 146px;
    }
    &:nth-child(4){
      width: 35px;
      height: 35px;
      bottom: 70px;
      left: 82px;
    }
    &:nth-child(3){
      width: 55px;
      height: 55px;
      top: 32px;
      left: 130px;
    }
    &:nth-child(2){
      width: 28px;
      height: 28px;
      bottom: 132px;
      right: 181px;
    }
    &:nth-child(1){
      width: 41px;
      height: 41px;
      top: 89px;
      right: 14px;
    }
  }
}

.numbers{
  padding: 60px 0;
  &-heading{
    @include decorative-text;
    padding-bottom: 32px;
  }
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
    @include h4;
    display: flex;
    align-items: center;
  }
  &-icon{
    display: inline-block;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    margin-right: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &--lamp{
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3721 47.6875C21.4537 48.1356 21.4378 48.668 21.4378 49.339C21.4378 53.0797 24.3253 56 28.0003 56C31.6096 56 34.5628 53.0468 34.5628 49.4375C34.5628 48.6568 34.5474 48.1334 34.6285 47.6875L28.0003 44.4062L21.3721 47.6875Z' fill='%23E6F7FF'/%3E%3Cpath d='M34.5625 49.4375C34.5625 48.6567 34.5471 48.1333 34.6282 47.6875L28 44.4062V56C31.6093 56 34.5625 53.0468 34.5625 49.4375Z' fill='%23CCEEFF'/%3E%3Cpath d='M39.78 33.6109C36.5971 37.8109 34.7925 42.6672 34.6284 47.6875H21.3721C21.1753 42.8313 19.3706 38.0078 15.9909 33.2828C13.7268 30.1328 12.8081 26.2609 13.3987 22.3891C14.697 13.9934 21.3525 9.95532 28.0003 9.98157C35.3087 10.0078 42.6073 14.9483 42.7637 24.4092C42.7919 27.8534 41.8006 30.9054 39.78 33.6109Z' fill='%23FFE666'/%3E%3Cpath d='M28 6.67188C27.0932 6.67188 26.3594 5.93808 26.3594 5.03125V1.64062C26.3594 0.733797 27.0932 0 28 0C28.9068 0 29.6406 0.733797 29.6406 1.64062V5.03125C29.6406 5.93808 28.9068 6.67188 28 6.67188Z' fill='%23FFE666'/%3E%3Cpath d='M43.631 15.6954C43.176 14.9103 43.4452 13.9073 44.2303 13.454L47.0725 11.8133C47.8576 11.3583 48.8605 11.6275 49.3124 12.4141C49.7674 13.1992 49.4982 14.2022 48.7131 14.6556L45.8709 16.2962C45.0788 16.7508 44.0773 16.4739 43.631 15.6954Z' fill='%23FABE2C'/%3E%3Cpath d='M6.68766 37.0235C6.23266 36.2384 6.50183 35.2354 7.28682 34.7821L10.1291 33.1414C10.911 32.6896 11.9172 32.9571 12.369 33.7422C12.824 34.5273 12.5549 35.5303 11.7698 35.9836L8.92744 37.6243C8.13611 38.0787 7.13424 37.8026 6.68766 37.0235Z' fill='%23FFE666'/%3E%3Cpath d='M37.0233 9.08961C36.2382 8.63614 35.969 7.63329 36.424 6.84819L38.0646 4.00751C38.5133 3.22088 39.5194 2.95969 40.3045 3.40671C41.0896 3.86018 41.3588 4.86304 40.9038 5.64813L39.2631 8.48882C38.8165 9.27041 37.8128 9.54297 37.0233 9.08961Z' fill='%23FABE2C'/%3E%3Cpath d='M16.7365 8.48888L15.0959 5.64819C14.6409 4.86309 14.91 3.86012 15.6951 3.40676C16.4769 2.95494 17.4832 3.2193 17.935 4.00756L19.5756 6.84825C20.0306 7.63334 19.7615 8.63631 18.9764 9.08967C18.1879 9.54238 17.1836 9.27134 16.7365 8.48888Z' fill='%23FFE666'/%3E%3Cpath d='M47.072 37.6242L44.2298 35.9836C43.4447 35.5301 43.1755 34.5273 43.6305 33.7422C44.0824 32.9587 45.0917 32.6944 45.8704 33.1414L48.7126 34.782C49.4977 35.2355 49.7669 36.2383 49.3119 37.0234C48.8663 37.8009 47.8653 38.0796 47.072 37.6242Z' fill='%23FABE2C'/%3E%3Cpath d='M10.1291 16.2961L7.28682 14.6555C6.50183 14.202 6.23266 13.1992 6.68766 12.4141C7.13949 11.629 8.14563 11.3631 8.92744 11.8133L11.7698 13.4539C12.5549 13.9074 12.824 14.9103 12.369 15.6953C11.9227 16.4741 10.9211 16.7508 10.1291 16.2961Z' fill='%23FFE666'/%3E%3Cpath d='M50.9688 26.3594H47.6875C46.7807 26.3594 46.0469 25.6256 46.0469 24.7188C46.0469 23.8119 46.7807 23.0781 47.6875 23.0781H50.9688C51.8756 23.0781 52.6094 23.8119 52.6094 24.7188C52.6094 25.6256 51.8756 26.3594 50.9688 26.3594Z' fill='%23FABE2C'/%3E%3Cpath d='M8.3125 26.3594H5.03125C4.12442 26.3594 3.39062 25.6256 3.39062 24.7188C3.39062 23.8119 4.12442 23.0781 5.03125 23.0781H8.3125C9.21933 23.0781 9.95312 23.8119 9.95312 24.7188C9.95312 25.6256 9.21933 26.3594 8.3125 26.3594Z' fill='%23FFE666'/%3E%3Cpath d='M29.6406 5.03125V1.64062C29.6406 0.733797 28.9068 0 28 0V6.67188C28.9068 6.67188 29.6406 5.93808 29.6406 5.03125Z' fill='%23FABE2C'/%3E%3Cpath d='M39.7797 33.6111C36.5969 37.8111 34.7922 42.6673 34.6281 47.6876H28V9.98169C35.3084 10.0079 42.607 14.9484 42.7634 24.4094C42.7917 27.8536 41.8003 30.9056 39.7797 33.6111Z' fill='%23FABE2C'/%3E%3Cpath d='M32.4412 23.5589C31.8004 22.918 30.7621 22.918 30.1212 23.5589L28 25.6801L25.8787 23.5587C25.2379 22.9179 24.1996 22.9179 23.5587 23.5587C22.9179 24.1996 22.9179 25.2379 23.5587 25.8787L26.3594 28.6794V34.5625C26.3594 35.4694 27.0932 36.2032 28 36.2032C28.9069 36.2032 29.6407 35.4694 29.6407 34.5625V28.6794L32.4412 25.8788C33.0821 25.2379 33.0821 24.1997 32.4412 23.5589Z' fill='%23FABE2C'/%3E%3Cpath d='M29.6406 34.5624V28.6792L32.4412 25.8787C33.082 25.2379 33.082 24.1996 32.4412 23.5587C31.8003 22.9179 30.762 22.9179 30.1212 23.5587L28 25.68V36.203C28.9068 36.203 29.6406 35.4692 29.6406 34.5624Z' fill='%23FF9100'/%3E%3C/svg%3E");
    }
    &--euro{
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M28.0781 8C17.0861 8 8 16.9297 8 27.9219C8 38.914 17.0861 48 28.0781 48C39.0702 48 48 38.914 48 27.9219C48 16.9297 39.0702 8 28.0781 8Z' fill='%23FEDB41'/%3E%3Cpath d='M48 27.9219C48 38.914 39.0702 48 28.0781 48V8C39.0702 8 48 16.9297 48 27.9219Z' fill='%23FFCC33'/%3E%3Cpath d='M28.0781 12.6875C19.6873 12.6875 12.6875 19.5312 12.6875 27.9219C12.6875 36.3126 19.6873 43.3125 28.0781 43.3125C36.4689 43.3125 43.3125 36.3126 43.3125 27.9219C43.3125 19.5312 36.4689 12.6875 28.0781 12.6875Z' fill='%23FEA832'/%3E%3Cpath d='M43.3125 27.9219C43.3125 36.3126 36.4689 43.3125 28.0781 43.3125V12.6875C36.4689 12.6875 43.3125 19.5312 43.3125 27.9219Z' fill='%23FE9923'/%3E%3Cpath d='M35.1094 34.6406C33.1639 36.8907 30.5391 37.7578 28.0781 37.3594C25.3361 36.9141 22.6719 34.9453 21.4766 31.5937H19.7188C18.1721 31.5937 18.1721 29.25 19.7188 29.25H20.9845C20.8672 28.0311 20.8672 27.9688 20.9845 26.75H19.7188C19.0624 26.75 18.5469 26.2344 18.5469 25.5781C18.5469 24.9218 19.0624 24.4062 19.7188 24.4062H21.4766C22.6719 21.0312 25.3827 19.1562 28.0781 18.7344C30.6095 18.3359 33.2812 19.2265 35.1094 21.3594C36.117 22.5313 34.3592 24.0546 33.3281 22.8828C31.9686 21.289 29.9533 20.6329 28.0781 21.1017C26.5546 21.4531 24.9688 22.5078 24.0546 24.4062H29.25C30.7966 24.4062 30.7966 26.75 29.25 26.75H23.3282C23.2109 27.6875 23.2109 28.3124 23.3282 29.25H29.25C30.7966 29.25 30.7966 31.5937 29.25 31.5937H24.0546C24.9687 33.4687 26.5546 34.5468 28.0781 34.8983C29.9532 35.3671 31.9685 34.7109 33.3281 33.1172C34.3592 31.9453 36.117 33.4687 35.1094 34.6406Z' fill='%23FEDB41'/%3E%3Cpath d='M29.25 31.5937H28.0781V29.25H29.25C30.7966 29.25 30.7966 31.5937 29.25 31.5937Z' fill='%23FFCC33'/%3E%3Cpath d='M29.25 26.75H28.0781V24.4062H29.25C30.7966 24.4062 30.7966 26.75 29.25 26.75Z' fill='%23FFCC33'/%3E%3Cpath d='M35.1094 34.6406C33.1639 36.8907 30.5391 37.7579 28.0781 37.3594V34.8984C29.9532 35.3672 31.9685 34.711 33.3281 33.1173C34.3592 31.9454 36.117 33.4687 35.1094 34.6406Z' fill='%23FFCC33'/%3E%3Cpath d='M28.0781 21.1016V18.7344C30.6095 18.3359 33.2812 19.2265 35.1094 21.3594C36.117 22.5313 34.3592 24.0546 33.3281 22.8828C31.9685 21.2889 29.9532 20.6328 28.0781 21.1016Z' fill='%23FFCC33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='40' fill='white' transform='translate(8 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &--energy{
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M38.8814 22.1699L30.397 24.0252L34.5451 9.49681C34.906 8.23365 33.2171 7.42513 32.4601 8.50081L28.7315 13.798L15.91 32.0143C15.2882 32.8978 16.0991 34.0844 17.1482 33.8259L24.7092 31.9651L20.5737 46.5075C20.2174 47.7605 21.8759 48.5589 22.6422 47.5254L28.7315 39.3113L40.0735 24.0119C40.7164 23.144 39.9368 21.9387 38.8814 22.1699Z' fill='%23FFDF8E'/%3E%3Cpath d='M40.0734 24.0119L28.7314 39.3113V13.798L32.46 8.50081C33.217 7.42513 34.9059 8.23365 34.545 9.49681L30.3969 24.0252L38.8813 22.1699C39.9367 21.9387 40.7163 23.144 40.0734 24.0119Z' fill='%23FFB64C'/%3E%3Cpath d='M38.1251 40.9692L35.3129 40.9224L36.8065 37.9849C37.0998 37.408 36.87 36.7026 36.2931 36.4093C35.7162 36.1159 35.0108 36.3458 34.7175 36.9227L32.374 41.5317C31.8972 42.4664 32.5211 43.079 33.4197 43.2348L36.2252 43.2815L34.7141 46.304C34.4246 46.8829 34.6592 47.5867 35.2381 47.8762C35.818 48.1661 36.5212 47.9298 36.8101 47.3521L39.1536 42.665C39.5385 41.8949 38.9815 40.9819 38.1251 40.9692Z' fill='%23FFB64C'/%3E%3Cpath d='M19.8814 8.12686C19.3025 7.83751 18.5987 8.0721 18.3092 8.65087L15.9657 13.338C15.5846 14.1003 16.1281 15.0337 17.0206 15.0337H19.8049L18.3092 18.025C18.0198 18.6039 18.2545 19.3076 18.8333 19.5972C19.4132 19.8871 20.1165 19.6508 20.4054 19.0731L22.7489 14.3861C23.1388 13.6062 22.5653 12.6903 21.7008 12.6903H18.9097L20.4054 9.69898C20.6948 9.12013 20.4601 8.41629 19.8814 8.12686Z' fill='%23FFDF8E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='40' fill='white' transform='translate(8 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  &-count{
    color: map-get($colors, accent-dark);
  }
}

.gallery{
  padding: 60px 0;
  &-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-slider{
    .swiper-pagination-bullets{
      display: flex;
    }
  }
  &-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    box-sizing: border-box;
  }
  &-item{
    &--mob{
      display: none;
    }
  }
  .swiper-container{
    overflow: visible;
    margin: 0 -15px;
  }
  .swiper-slide{
    background: map-get($colors, light);
    box-shadow: 0px 0px 47px #EAEAEA;
    border-radius: 8px;
    height: auto;
    margin: 15px;
    overflow: hidden;
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    &:nth-child(2), &:nth-child(3), &:nth-child(9){
      flex-basis: calc(100% - 100% / 3 - 30px);
      &:after{
        display: none;
      }
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &--text{
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .gallery-title{
        padding-bottom: 16px;
        text-transform: uppercase;
        color: map-get($colors, secondary-dark);
      }
    }
    &--mob{
      display: none;
    }
    &:after{
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}

.related{
  padding: 60px 0;
  &-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 36px;
  }
  &-heading{
    max-width: 56%;
    @include decorative-text;
    padding-bottom: 32px;
  }
  &-description{
    width: 310px;
    min-width: 310px;
    max-width: 100%;
    margin-left: 32px;
  }
  &-actions{
    text-align: center;
  }
  &-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &--withDesc{
    .related-heading{
      padding-bottom: 0;
    }
  }
}