.calculator{
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0px 0px 47px #EAEAEA);
  &-left{
    width: 68%;
    padding: 40px 24px;
    background: map-get($colors, light);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &-right{
    width: 32%;
    padding: 32px 16px;
    @include gradient-vertical;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  &-title{
    color: map-get($colors, accent);
    margin-bottom: 16px;
  }
  &-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    .imgRadio{
      margin-right: 24px;
    }
  }
  &-basic{
    @include caption-text;
    padding-bottom: 24px;
    margin-bottom: 8px;
    border-bottom: 1px solid map-get($colors, secondary-extraLight);
  }
  &-line{
    @include caption-text;
    margin-bottom: 10px;
  }
  &-accordion{
    border: none;
    .js-Accordion-title{
      padding: 16px 0;
      border: none;
      color: map-get($colors, accent);
      width: auto;
      &:before{
        right: -40px;
      }
      &:hover, &:focus{
        background-color: map-get($colors, light);
      }
    }
    .js-Accordion-content{
      padding: 0;
    }
  }
  &-form{
    color: map-get($colors, light);
    padding: 8px;
    .form-group{
      display: flex;
      justify-content: space-between;
      input{
        border: 1px solid map-get($colors, accent);
        background-color: map-get($colors, light);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        width: 100%;
        padding: 4px 4px 4px 16px;
        &:focus{
          outline: none;
        }
      }
      button{
        @include button-text;
        text-align: center;
        line-height: 46px;
        width: 110px;
        min-width: 110px;
        height: 46px;
        padding: 0;
        border-radius: 0 8px 8px 0;
      }
    }
    .form-caption{
      @include caption-text;
      width: 225px;
      max-width: 100%;
      margin-top: 8px;
    }
  }
  &-extra{

  }
  &-extraBtn{
    @include h4;
    cursor: pointer;
    color: map-get($colors, accent);
    transition: 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    &:after{
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 9.1906L11.9688 5.21873C12.2625 4.92498 12.7375 4.92498 13.0281 5.21873C13.3187 5.51247 13.3187 5.98747 13.0281 6.28122L8.53125 10.7812C8.24687 11.0656 7.79062 11.0718 7.49687 10.8031L2.96875 6.28435C2.82188 6.13747 2.75 5.94372 2.75 5.7531C2.75 5.56247 2.82188 5.36873 2.96875 5.22185C3.2625 4.9281 3.7375 4.9281 4.02812 5.22185L8 9.1906Z' fill='%2361CD78'/%3E%3C/svg%3E%0A");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 16px;
      transition: 0.1s ease-in-out;
    }
    &.active{
      &:after{
        transform: rotate(180deg);
      }
    }
  }
  &-extraContent{
    display: none;
  }
  &-extraRadios{
    display: none;
  }
  .ss-main{
    width: 66px;
  }
  .ss-main .ss-single-selected{
    @include h4;
    color: map-get($colors, accent);
    height: 36px;
    border-radius: 8px;
    border-color: map-get($colors, accent-light);
  }
  .ss-main .ss-single-selected .ss-arrow span{
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6.89304L8.97656 3.91414C9.19688 3.69382 9.55312 3.69382 9.77109 3.91414C9.98906 4.13445 9.98906 4.4907 9.77109 4.71101L6.39844 8.08601C6.18516 8.29929 5.84297 8.30397 5.62266 8.10241L2.22656 4.71335C2.11641 4.6032 2.0625 4.45788 2.0625 4.31492C2.0625 4.17195 2.11641 4.02664 2.22656 3.91648C2.44687 3.69617 2.80312 3.69617 3.02109 3.91648L6 6.89304Z' fill='%2313BE37'/%3E%3C/svg%3E%0A");

  }
  .ss-content{
    @include button-text;
    border-top: #dcdee2;
  }
  .ss-option{
    text-align: center;
  }
  .ss-main .ss-single-selected .placeholder, .ss-main .ss-single-selected .placeholder *{
    justify-content: center;
  }
  .ss-main .ss-single-selected .placeholder{
  }
}

.result{
  margin-bottom: 26px;
  display: flex;
  align-items: flex-start;
  &-icon{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: map-get($colors, light);
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    &--energy{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.5288 8.50206L13.4382 9.61524L15.927 0.898211C16.1435 0.14031 15.1302 -0.344802 14.676 0.300609L12.4389 3.47892L4.74596 14.4087C4.37287 14.9388 4.85939 15.6508 5.48886 15.4957L10.0255 14.3792L7.54415 23.1047C7.33042 23.8565 8.32549 24.3355 8.78529 23.7154L12.4389 18.7869L19.244 9.60727C19.6298 9.08654 19.162 8.36332 18.5288 8.50206Z' fill='%23FFDF8E'/%3E%3Cpath d='M19.2441 9.60727L12.439 18.7869V3.47892L14.6761 0.300609C15.1303 -0.344802 16.1436 0.140311 15.9271 0.898211L13.4382 9.61524L18.5289 8.50206C19.1621 8.36332 19.6299 9.08654 19.2441 9.60727Z' fill='%23FFB64C'/%3E%3Cpath d='M18.075 19.7816L16.3877 19.7535L17.2839 17.991C17.4599 17.6449 17.322 17.2216 16.9758 17.0457C16.6296 16.8696 16.2064 17.0076 16.0304 17.3537L14.6243 20.1191C14.3383 20.6799 14.7126 21.0475 15.2518 21.1409L16.9351 21.169L16.0284 22.9825C15.8547 23.3298 15.9955 23.7521 16.3428 23.9258C16.6908 24.0998 17.1127 23.958 17.286 23.6114L18.6921 20.7991C18.9231 20.337 18.5889 19.7892 18.075 19.7816Z' fill='%23FFB64C'/%3E%3Cpath d='M7.12877 0.0763104C6.78146 -0.0972991 6.35915 0.0434539 6.1855 0.39072L4.77938 3.20297C4.55069 3.66038 4.87682 4.22044 5.41232 4.22044H7.08289L6.1855 6.01521C6.01184 6.36253 6.15264 6.78479 6.49991 6.95849C6.84788 7.13247 7.26985 6.99069 7.44318 6.64408L8.84931 3.83183C9.08324 3.36392 8.73916 2.81436 8.22044 2.81436H6.54579L7.44318 1.01959C7.61684 0.672272 7.47604 0.249967 7.12877 0.0763104Z' fill='%23FFDF8E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    &--co2{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 14.4706C24 17.7692 21.3164 20.4528 18.0178 20.4528H5.15062C2.31047 20.4528 0 18.1424 0 15.3022C0 12.4621 2.31047 10.1516 5.15062 10.1516C5.205 10.1516 5.25938 10.1525 5.31375 10.1544C5.31234 10.0991 5.31187 10.0442 5.31187 9.98893C5.31187 6.43721 8.20125 3.54736 11.7534 3.54736C11.8683 3.54736 11.9831 3.55064 12.0975 3.55674C13.5436 3.63361 14.9227 4.19471 16.013 5.15658C17.0138 6.03971 17.7117 7.20502 18.0187 8.48846C21.3169 8.48846 24 11.1721 24 14.4706Z' fill='%2383B6FF'/%3E%3Cpath d='M9.73628 14.9642C9.6805 15.1011 9.6069 15.2164 9.51597 15.3097C9.42456 15.4035 9.32472 15.4799 9.2155 15.538C9.10675 15.5961 8.99284 15.6392 8.87378 15.6669C8.75472 15.695 8.6394 15.7086 8.52831 15.7086C8.31034 15.7086 8.11394 15.6645 7.93956 15.576C7.76472 15.4874 7.61519 15.3669 7.49097 15.215C7.36675 15.0631 7.27206 14.8883 7.20597 14.6905C7.14034 14.4931 7.10753 14.2878 7.10753 14.0755C7.10753 13.8777 7.13519 13.6827 7.19097 13.4905C7.24675 13.2978 7.33253 13.1258 7.44925 12.9735C7.56597 12.8216 7.71269 12.6978 7.88987 12.6013C8.06706 12.5052 8.27472 12.4569 8.51284 12.4569C8.6244 12.4569 8.73831 12.4686 8.85503 12.4911C8.97128 12.5141 9.08519 12.5544 9.19675 12.613C9.30831 12.6711 9.4105 12.7471 9.50425 12.8408C9.598 12.9346 9.67534 13.0522 9.73628 13.1938L10.6935 12.5253C10.5111 12.1761 10.2336 11.8925 9.86144 11.6746C9.48925 11.4566 9.04956 11.3478 8.54331 11.3478C8.11769 11.3478 7.738 11.4266 7.40378 11.5832C7.06956 11.7402 6.7855 11.9455 6.553 12.1986C6.31956 12.4522 6.14237 12.7396 6.02097 13.0611C5.89956 13.3827 5.83862 13.7056 5.83862 14.0296C5.83862 14.3741 5.90331 14.7135 6.03222 15.0477C6.16159 15.3819 6.34394 15.681 6.57925 15.9444C6.81503 16.2078 7.09581 16.4192 7.42253 16.5786C7.74925 16.738 8.10784 16.8181 8.49784 16.8181C8.7205 16.8181 8.94831 16.79 9.18175 16.7342C9.41425 16.6789 9.63456 16.5978 9.84269 16.4914C10.0503 16.385 10.2336 16.2533 10.3935 16.0963C10.5528 15.9392 10.6733 15.762 10.7544 15.5642L9.73628 14.9642Z' fill='%239CFDFF'/%3E%3Cpath d='M16.1863 13.0878C16.0597 12.7583 15.8797 12.4644 15.6472 12.2061C15.4138 11.9478 15.133 11.7402 14.8035 11.5832C14.4744 11.4266 14.1097 11.3478 13.7099 11.3478C13.3194 11.3478 12.9599 11.4224 12.6308 11.5719C12.4377 11.6596 12.26 11.7646 12.0974 11.8869C11.983 11.9736 11.8761 12.0683 11.7763 12.1719C11.5354 12.4227 11.3479 12.7128 11.2138 13.0419C11.0797 13.3714 11.0127 13.7131 11.0127 14.0675C11.0127 14.4172 11.0769 14.7566 11.2063 15.0856C11.3357 15.4152 11.5166 15.7077 11.7496 15.9631C11.8555 16.0794 11.9713 16.1858 12.0974 16.2814C12.2483 16.3967 12.4133 16.4966 12.5929 16.5824C12.9219 16.7394 13.2866 16.8181 13.6869 16.8181C14.0769 16.8181 14.4364 16.7422 14.7655 16.5899C15.095 16.438 15.3786 16.2369 15.6168 15.9861C15.8544 15.7353 16.041 15.4456 16.175 15.1161C16.3091 14.787 16.3766 14.4449 16.3766 14.0905C16.3766 13.7511 16.3129 13.4169 16.1863 13.0878ZM15.02 14.6642C14.9619 14.8592 14.8747 15.0341 14.758 15.1883C14.6418 15.343 14.4946 15.4681 14.3174 15.5642C14.1402 15.6608 13.9325 15.7086 13.6944 15.7086C13.4666 15.7086 13.2641 15.6631 13.0864 15.5722C12.9093 15.4808 12.7611 15.3594 12.6421 15.2075C12.523 15.0552 12.4335 14.8817 12.3725 14.6867C12.3116 14.4922 12.2811 14.2906 12.2811 14.083C12.2811 13.8805 12.3102 13.6817 12.3688 13.4863C12.4269 13.2917 12.5155 13.1178 12.6346 12.966C12.7536 12.8141 12.9004 12.6913 13.0752 12.5975C13.25 12.5038 13.4563 12.4569 13.6944 12.4569C13.9222 12.4569 14.1238 12.5014 14.2986 12.59C14.473 12.6786 14.6211 12.7977 14.743 12.9472C14.8644 13.0967 14.9558 13.2688 15.0163 13.4638C15.0772 13.6588 15.1077 13.8599 15.1077 14.0675C15.1077 14.2705 15.0782 14.4692 15.02 14.6642Z' fill='%239CFDFF'/%3E%3Cpath d='M17.1918 17.246C17.2134 17.2221 17.2448 17.1954 17.286 17.1659C17.3277 17.1363 17.3727 17.1063 17.4215 17.0768C17.4702 17.0473 17.5194 17.0182 17.5696 16.9896C17.6193 16.961 17.6624 16.9362 17.698 16.9146C17.7501 16.8837 17.8012 16.8499 17.8513 16.8129C17.901 16.7763 17.946 16.7337 17.9863 16.6849C18.0271 16.6362 18.0594 16.5809 18.0848 16.519C18.1096 16.4571 18.1218 16.3873 18.1218 16.309C18.1218 16.1187 18.0538 15.9677 17.9169 15.8562C17.7805 15.7446 17.5837 15.6888 17.3273 15.6888C17.2227 15.6888 17.1224 15.6982 17.0259 15.717C16.9298 15.7362 16.8412 15.7615 16.7605 15.7938C16.6799 15.8257 16.6073 15.8623 16.543 15.9026C16.4788 15.9429 16.4277 15.9846 16.3898 16.0273L16.7535 16.4477C16.8224 16.3695 16.8937 16.3057 16.9673 16.257C17.0409 16.2082 17.1276 16.1838 17.2274 16.1838C17.3155 16.1838 17.383 16.2045 17.4304 16.2448C17.4782 16.2851 17.5016 16.3385 17.5016 16.4051C17.5016 16.4384 17.4923 16.4674 17.4735 16.4923C17.4543 16.5171 17.4229 16.5452 17.3788 16.5762C17.3348 16.6071 17.2757 16.6427 17.2007 16.6831C17.1257 16.7234 17.0324 16.7745 16.9209 16.8363C16.8163 16.8959 16.7296 16.9563 16.6607 17.0182C16.5918 17.0796 16.5374 17.1471 16.4966 17.2193C16.4563 17.292 16.4277 17.3721 16.4113 17.4598C16.3944 17.5479 16.3865 17.6477 16.3865 17.7593H18.1612V17.246H17.1918Z' fill='white'/%3E%3Cpath d='M23.9999 14.4706C23.9999 17.7692 21.3163 20.4528 18.0177 20.4528H12.0974V3.5567C13.5435 3.63358 14.9226 4.19467 16.0129 5.15655C17.0136 6.03967 17.7116 7.20498 18.0186 8.48842C21.3168 8.48842 23.9999 11.172 23.9999 14.4706Z' fill='%237984EB'/%3E%3Cpath d='M16.1863 13.0878C16.0598 12.7583 15.8798 12.4644 15.6473 12.2061C15.4138 11.9478 15.133 11.7402 14.8035 11.5832C14.4744 11.4266 14.1098 11.3478 13.7099 11.3478C13.3194 11.3478 12.9599 11.4224 12.6308 11.5719C12.4377 11.6596 12.2601 11.7646 12.0974 11.8869V16.2814C12.2483 16.3967 12.4133 16.4966 12.5929 16.5824C12.9219 16.7394 13.2866 16.8181 13.6869 16.8181C14.0769 16.8181 14.4365 16.7422 14.7655 16.5899C15.0951 16.438 15.3787 16.2369 15.6168 15.9861C15.8544 15.7353 16.041 15.4456 16.1751 15.1161C16.3091 14.787 16.3766 14.4449 16.3766 14.0905C16.3766 13.7511 16.3129 13.4169 16.1863 13.0878ZM15.0201 14.6642C14.9619 14.8592 14.8748 15.0341 14.758 15.1883C14.6418 15.343 14.4946 15.4681 14.3174 15.5642C14.1402 15.6608 13.9326 15.7086 13.6944 15.7086C13.4666 15.7086 13.2641 15.6631 13.0865 15.5722C12.9093 15.4808 12.7612 15.3594 12.6421 15.2075C12.523 15.0552 12.4335 14.8817 12.3726 14.6867C12.3116 14.4922 12.2812 14.2906 12.2812 14.083C12.2812 13.8805 12.3102 13.6817 12.3688 13.4863C12.4269 13.2917 12.5155 13.1178 12.6346 12.966C12.7537 12.8141 12.9004 12.6913 13.0752 12.5975C13.2501 12.5038 13.4563 12.4569 13.6944 12.4569C13.9223 12.4569 14.1238 12.5014 14.2987 12.59C14.473 12.6786 14.6212 12.7977 14.743 12.9472C14.8644 13.0967 14.9559 13.2688 15.0163 13.4638C15.0773 13.6588 15.1077 13.8599 15.1077 14.0675C15.1077 14.2705 15.0782 14.4692 15.0201 14.6642Z' fill='%2355FBFF'/%3E%3Cpath d='M18.1612 17.2462V17.7594H16.3865C16.3865 17.6479 16.3944 17.548 16.4113 17.4599C16.4277 17.3722 16.4563 17.2921 16.4966 17.2194C16.5374 17.1472 16.5918 17.0797 16.6607 17.0183C16.7296 16.9565 16.8163 16.896 16.9209 16.8365C17.0324 16.7746 17.1257 16.7235 17.2007 16.6832C17.2757 16.6429 17.3348 16.6072 17.3788 16.5763C17.4229 16.5454 17.4543 16.5172 17.4735 16.4924C17.4923 16.4676 17.5016 16.4385 17.5016 16.4052C17.5016 16.3387 17.4782 16.2852 17.4304 16.2449C17.383 16.2046 17.3155 16.184 17.2274 16.184C17.1276 16.184 17.0409 16.2083 16.9673 16.2571C16.8937 16.3058 16.8224 16.3696 16.7535 16.4479L16.3898 16.0274C16.4277 15.9847 16.4788 15.943 16.543 15.9027C16.6073 15.8624 16.6799 15.8258 16.7605 15.794C16.8412 15.7616 16.9298 15.7363 17.0259 15.7171C17.1224 15.6983 17.2227 15.689 17.3273 15.689C17.5837 15.689 17.7805 15.7447 17.9169 15.8563C18.0538 15.9679 18.1218 16.1188 18.1218 16.3091C18.1218 16.3874 18.1096 16.4572 18.0848 16.5191C18.0594 16.581 18.0271 16.6363 17.9863 16.6851C17.946 16.7338 17.901 16.7765 17.8513 16.813C17.8012 16.8501 17.7501 16.8838 17.698 16.9147C17.6624 16.9363 17.6193 16.9612 17.5696 16.9897C17.5194 17.0183 17.4702 17.0474 17.4215 17.0769C17.3727 17.1065 17.3277 17.1365 17.286 17.166C17.2448 17.1955 17.2134 17.2222 17.1918 17.2462H18.1612Z' fill='%2355FBFF'/%3E%3C/svg%3E%0A");
    }
    &--tree{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M22.747 11.275C22.747 9.59695 21.7266 8.15728 20.2724 7.54266C20.5292 7.04625 20.6752 6.48319 20.6752 5.88572C20.6752 3.89068 19.0579 2.2734 17.0629 2.2734C16.4944 2.2734 15.9569 2.40507 15.4785 2.63893C15.0535 1.11695 13.6576 6.10352e-05 12 6.10352e-05C10.3424 6.10352e-05 8.94656 1.11695 8.52145 2.63893C8.04304 2.40503 7.50553 2.2734 6.93712 2.2734C4.94208 2.2734 3.3248 3.89068 3.3248 5.88572C3.3248 6.48319 3.47072 7.04625 3.72755 7.54266C2.2734 8.15733 1.25293 9.59695 1.25293 11.275C1.25293 13.4496 2.96743 15.2217 5.11819 15.3186C5.41805 16.4047 6.576 17.2144 7.95984 17.2144C8.74415 17.2144 9.45562 16.9539 9.97991 16.5309C10.5043 16.9539 11.2157 17.2144 12 17.2144C12.7843 17.2144 13.4958 16.9539 14.0201 16.5309C14.5444 16.9539 15.2559 17.2144 16.0401 17.2144C17.424 17.2144 18.5819 16.4047 18.8818 15.3186C21.0326 15.2216 22.747 13.4496 22.747 11.275Z' fill='%23129B12'/%3E%3Cpath d='M11.7832 0.0072329C11.7388 0.00990477 11.6945 0.0130923 11.6504 0.0174048C11.6369 0.0187173 11.6235 0.0202172 11.6101 0.0216704C11.5628 0.0267797 11.5158 0.032686 11.469 0.0396235C11.4603 0.0408891 11.4515 0.0421547 11.4428 0.0435141C11.3872 0.0521859 11.3319 0.0618422 11.2771 0.0729984C11.277 0.0729984 11.2769 0.0730453 11.2769 0.0730453C12.2251 0.265889 13.113 0.926356 13.6755 1.75885C14.0738 2.3484 14.7544 2.68824 15.4643 2.63996C15.469 2.63963 15.4737 2.63931 15.4784 2.63898C15.0534 1.11695 13.6575 6.10352e-05 11.9999 6.10352e-05C11.9418 6.10352e-05 11.8841 0.00174853 11.8267 0.00446728C11.8122 0.0051704 11.7978 0.00638915 11.7832 0.0072329Z' fill='%23097C09'/%3E%3Cpath d='M20.2725 7.54263C20.5293 7.04623 20.6753 6.48316 20.6753 5.8857C20.6753 3.89065 19.058 2.27338 17.0629 2.27338C16.8154 2.27338 16.5737 2.29841 16.3401 2.34594C17.9885 2.68095 19.2292 4.13839 19.2292 5.8857C19.2292 6.48316 19.0833 7.04623 18.8264 7.54263C20.2806 8.1573 21.301 9.59692 21.301 11.275C21.301 13.4496 19.5866 15.2216 17.4358 15.3186C17.1901 16.2088 16.3677 16.9129 15.3171 17.1381C15.5484 17.1877 15.7906 17.2143 16.0403 17.2143C17.4241 17.2143 18.5821 16.4047 18.8819 15.3185C21.0327 15.2215 22.7471 13.4496 22.7471 11.2749C22.7471 9.59692 21.7268 8.15726 20.2725 7.54263Z' fill='%23097C09'/%3E%3Cpath d='M9.41336 15.9326C9.08758 16.4852 7.73749 17.103 7.23682 17.1382C7.29189 17.15 7.34772 17.1603 7.40402 17.1695C7.40852 17.1702 7.41302 17.171 7.41757 17.1717C7.47461 17.1808 7.53222 17.1885 7.59044 17.1948C7.59194 17.1949 7.59344 17.195 7.59494 17.1952C7.6473 17.2007 7.70022 17.2047 7.75343 17.2079C7.76636 17.2086 7.77935 17.2094 7.79238 17.21C7.84783 17.2127 7.90357 17.2145 7.95982 17.2145C8.67513 17.2145 9.32931 16.9973 9.83678 16.6383L9.92575 16.5736L9.47266 15.8302L9.41336 15.9326Z' fill='%23009000'/%3E%3Cpath d='M13.8063 16.855L15.3539 14.4129C15.4764 14.2197 15.4393 13.9661 15.2667 13.816C15.0825 13.6557 14.8054 13.6661 14.6337 13.8399L13.494 14.9938C13.3428 15.1469 13.0838 15.0196 13.1126 14.8065L13.4478 12.3232C13.4836 12.0579 13.2874 11.8176 13.0203 11.7996L12.7063 11.7783C12.4703 11.7624 12.2603 11.9269 12.2193 12.1599L11.621 15.5589C11.5878 15.748 11.3477 15.8103 11.2266 15.6614L9.35295 13.3571C9.22329 13.1976 9.00401 13.1428 8.81459 13.2224L8.48651 13.3603C8.22678 13.4695 8.12403 13.7834 8.26897 14.025L10.1944 17.2344C10.4732 17.6992 10.5882 18.2444 10.5185 18.7819C10.269 20.7065 9.95899 22.5215 8.69051 24.0001H15.3094C13.9516 22.4173 13.6166 20.449 13.4369 18.3734C13.3909 17.8404 13.5199 17.3068 13.8063 16.855Z' fill='%23BF6101'/%3E%3Cpath d='M15.354 14.4128C15.4764 14.2196 15.4394 13.966 15.2668 13.8159C15.0825 13.6556 14.8055 13.6661 14.6338 13.8399L14.1248 14.3552L13.494 14.9937C13.3429 15.1468 13.0839 15.0195 13.1127 14.8064L13.4478 12.3231C13.4827 12.0645 13.2971 11.8303 13.0403 11.8019L12.0979 17.6596C12.082 17.7353 12.0697 17.8116 12.061 17.8885C12.0431 18.0486 12.0407 18.2109 12.0547 18.3733C12.2345 20.4488 12.5695 22.4172 13.9273 24H15.3096C13.9517 22.4172 13.6168 20.4488 13.437 18.3733C13.3909 17.8404 13.52 17.3068 13.8063 16.8549L15.354 14.4128Z' fill='%239A4D01'/%3E%3Cpath d='M11.3123 2.836C10.2989 2.836 9.42646 3.4375 9.03098 4.30271C8.62242 4.01401 8.12414 3.84381 7.58578 3.84381C6.20077 3.84381 5.07797 4.9666 5.07797 6.35162C5.07797 6.8086 5.20083 7.23666 5.41439 7.60561C4.21177 7.79054 3.29077 8.82975 3.29077 10.0841C3.29077 11.4691 4.41357 12.5919 5.79858 12.5919C7.18359 12.5919 13.8201 6.72882 13.8201 5.34381C13.8201 3.95879 12.6974 2.836 11.3123 2.836Z' fill='%2328A528'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  &-info{
    color: map-get($colors, light);
  }
  &-name{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &-number{
    @include h3;
  }
  &-caption{
    @include caption-text;
  }
}